<h1> <%= @card.name %> </h1>
  <% if @card.art.attached? %>
    <%= image_tag @card.art %>
  <% end %>
<br>
<h3><%= @card.faction.name %></h3>
<p><%= @card.play_cost %> mana</p>
<p><%= @card.card_type.name%></p>
<p><%= @card.description %></p>
<br>
<p>
<%= link_to  "Editar", edit_card_path %> | 
<%= link_to  "Excluir", card_path, method: :delete, data: {confirm: 'Excluir carta?'} %> | 

<% if @card.highlight? %>
  <%= link_to  "Remover destaque", unhighlight_card_path, method: :delete %>
<% else %>
  <%= link_to  "Destacar", highlight_card_path %> 
<% end %>
</p>
<p><%= link_to  "Voltar", cards_path %></p>