<h1> <%= @card.name %> </h1>
<br>
<h3><%= @card.faction.name %></h3>
<p><%= @card.play_cost %> mana</p>
<p><%= @card.card_type.name%></p>
<p><%= @card.description %></p>
<br>
<p><%= link_to  "Editar", edit_card_path %></p>
<p><%= link_to  "Excluir", card_path, method: :delete, data: {confirm: 'Excluir carta?'} %></p>
<p><%= link_to  "Voltar", cards_path %></p>