<h1> <%= @card.name %> </h1>
  <% if @card.art.attached? %>
    <%= image_tag @card.art %>
  <% end %>
<br>
<h3><%= @card.faction.name %></h3>
<p><%= @card.play_cost %> mana</p>
<p><%= @card.card_type.name%></p>
<p><%= @card.description %></p>
<br>
<p><%= "Carta criada por #{@card.user.email}" %>
<br>
<% if user_signed_in? && @card.author?(current_user) %>
  <p>
  <%= link_to  "Editar", edit_card_path %> | 
  <%= link_to  "Excluir", card_path, method: :delete, data: {confirm: 'Excluir carta?'} %> | 

  <% if @card.highlight? %>
    <%= link_to  "Remover destaque", unhighlight_card_path, method: :delete %>
  <% else %>
    <%= link_to  "Destacar", highlight_card_path %> 
  <% end %>
  </p>
  <p>
  <%= form_tag add_to_deck_card_path, method: :post do %>
    <%= label_tag :deck_id, "Decks" %>
    <%= select_tag :deck_id, options_from_collection_for_select(@user_decks, :id, :name) %>
    <%= submit_tag 'Adicionar ao deck'%>
  <% end %>
  </p>
<% end %>
<p><%= link_to  "Voltar", cards_path %></p>