<h1>Editar deck<h1>

<%= form_for @deck do |f|%>
  <p><%= f.label :name, 'Nome' %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :private, 'Privado' %></p>
  <p><%= f.check_box :private %></p>
  <p><%= f.submit 'Enviar' %></p>
<% end %>
<br>
<%= link_to  "Voltar", decks_path %>